<div class="table-responsive exam-questions">
  <table class="table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Question</th>
        <th>Question type</th>
        <th>Options</th>
        <th>Answer</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="exam-questions">
      <% @questions.each do |question| %>
        <%= render partial: "questions/question", locals: { question: question } %>
      <% end %>
    </tbody>
  </table>
  <br>
  <%#= link_to 'New Question', new_question_path %>
</div>
