<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   	<div class="card" style="height: 500px;">
   		<div class="custom-header" style="height: auto;border-bottom: 1px solid #000;padding-left:20%;">
   			<h1>Employee Termination Report</h1>
   		</div>
   		<div style="color: #000;">
   			<table class="table table-hover" style="font-size: 15px;width: 100%;">
	            <thead>
	              <tr>
	                <th style="width: 33%;text-align: left;">Date of archiving</th>
	                <th style="width: 33%;text-align: left;">Archived By</th>
	                <th style="width: 33%;text-align: left;">Termination Date</th>
	              </tr>
	            </thead>
	            <tbody>
	            	<tr>
	            		<td style="width: 33%;">25/10/2017</td>
	            		<td style="width: 33%">Raghav Pratap Singh</td>
	            		<td style="width: 33%">28/10/2017</td>
	            	</tr>
	            </tbody>
	        </table>
   			<hr>
   			<h4>Personal Detail:</h4>
   			<table class="table table-hover" style="font-size: 15px;width: 100%;">
	            <thead>
	              <tr>
	                <th style="width: 33%;text-align: left;">First Name</th>
	                <th style="width: 33%;text-align: left;">Last Name</th>
	                <th style="width: 33%;text-align: left;">Address</th>
	              </tr>
	            </thead>
	            <tbody>
	            	<tr>
	            		<td style="width: 33%;">Raghav</td>
	            		<td style="width: 33%">Singh</td>
	            		<td style="width: 33%">Sector 16,Panchkula</td>
	            	</tr>
	            </tbody>
	        </table>
	        <br>
	        <table class="table table-hover" style="font-size: 15px;width: 100%;">
	            <thead>
	              <tr>
	                <th style="width: 33%;text-align: left;">Personal Ph.</th>
	                <th style="width: 33%;text-align: left;">Email of coverage</th>
	                <th style="width: 33%;text-align: left;"></th>
	              </tr>
	            </thead>
	            <tbody>
	            	<tr>
	            		<td style="width: 33%;">9876543210</td>
	            		<td style="width: 33%">coverage@abc.com</td>
	            		<td></td>
	            	</tr>
	            </tbody>
	        </table>
   		</div>
   	</div>
  </div>
</div>