<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Switch Days List</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <% if @switch_days.present? %>
              <div class="body table-responsive">
                <table class="table table-hover">
                  <thead>
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Real Date</th>
                        <th>Replace Date</th>
                        <% if current_employee.user_role != 'employee' %>
                        <th colspan="3"></th>
                        <%end%>
                      </tr>
                    </thead>
                  </thead>
                  <tbody>
                    <% @switch_days.each do |issue| %>
                    <tr>
                      <td><%= issue.id %></td>
                      <td><%= issue.real_date %></td>
                      <td><%= issue.replace_date %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
              You don't have any swich days.
            <% end %>
          </div>
        </div>
        <%= link_to 'New switch day',new_switch_day_path %>
      </div>
    </div>
  </div>
</div>