<div class="row clearfix">
	<div class="col-sm-12">
		<div class="card">
			<div class="header">
				<h2>New Switch Day</h2>
			</div>
			<div class="body">
				<div class="row clearfix">
					<div class="col-sm-6 col-sm-offset-2 col-xs-12">
						<%= render 'form', switch_day: @switch_day %>
					</div>
				</div>
				<%= link_to 'Back', experiences_path %>
			</div>
		</div>
	</div>
</div>