/* line 1, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: white;
}

/* line 23, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card.hovercard .employee-profile-card-background {
  height: 130px;
}

/* line 26, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}

/* line 36, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}

/* line 42, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

/* line 54, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card.hovercard .employee-profile-card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}

/* line 60, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card.hovercard .employee-profile-card-info .employee-profile-card-title {
  padding: 0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 70, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card.hovercard .employee-profile-card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

/* line 77, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

/* line 81, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.btn-pref .btn {
  -webkit-border-radius: 0 !important;
}

/* line 85, /home/raghav/Desktop/raghav/test/hr_app/app/assets/stylesheets/employee-profile-form.scss */
.employee-profile-avtar {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: -13%;
  margin-left: 2%;
  border-radius: 50px;
}
