<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Leave work assign</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<%@my_leaves = Leave.where(employee_id: current_employee.id).last%>
<% 

	start=@my_leaves.from_date.to_date
    finish=@my_leaves.to_date.to_date
%>
<%= form_for LeaveWorkAssign.new, url: { action: "create" } do |f| %>
 
  <%(start..finish).each do |date| %>
  
  <%if !(date.sunday? || date.saturday?)%>
    <%= render 'form' ,date: date%>     
  <%end%>
 <%end%>
        <%= f.hidden_field :leave_id, value: @my_leaves.id %>
  <%= submit_tag "Submit" %>
<% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>