<div class="row">
  <div class="col-sm-offset-2 col-sm-6">
    <h1>New Project Team</h1>

    <%= render 'form', project_team: @project_team %>

    <%= link_to 'Back', project_teams_path %>
  </div>
</div>