<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Result: </h2>
      </div>
      <div class="body">
    
        <div class="table-responsive">
          <% @team_results.each do |tr| %>
            <% next unless tr.exams.present? || tr.exams.map(&:state).reduce(&:|) %>
            <span class="pull-right"> <%= link_to 'Print results for this team', print_team_result_path(tr, format: :pdf) %></span>
            <%= render partial: 'result', locals: { team: tr, exams: tr.exams, visible: true } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>