<div class="row">
  <div class="col-xs-12">
    <h1>Results</h1>
    <div class="table-responsive">
      <%= render partial: 'result', locals: { team: @team, exams: @exams, visible: false } %>
    </div>
    <br>
  </div>
</div>