<!-- <div class="modal fade in" id="largeModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
        <%= #render 'form', event: @event %>
      </div>
    </div>
  </div>
</div>
 -->