<div class="row clearfix">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h2>New Experience</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-sm-12">
            <%= render 'form', experience: @experience %>
          </div>
        </div>
        <div class="mt20">
          <%= link_to 'Back', experiences_path %>
        </div>
      </div>
    </div>
  </div>
</div>
