<%= form_tag perf_review_requests_path, html: {remote: true} do %>

  <div class="col-sm-4 col-xs-4">
    <div class="form-group form-float">
      <label> Emplyee to be Revieweed </label>
      <%= select_tag "reviewee_id", options_for_select(Employee.all.collect { |emp| [emp.email, emp.id] }), class: "form-control" %>
    </div>
  </div>

  <div class="col-sm-4 col-xs-4">
    <div class="form-group form-float">
      <label>Select multiple reviewers</label>
      <%= select_tag "reviewer_id", options_for_select(Employee.all.collect { |emp| [emp.email, emp.id] }), multiple: true, class: "form-control" %>
    </div>
  </div>

  <div class="col-sm-4 col-xs-4">
    <div class="actions">
      <%= submit_tag "Create", class: "btn btn-primary waves-effect" %>
    </div>
  </div>
<% end %>
