<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>

    <div id="add-subject-form">
      <%= render 'form', subject: @subject %>
    </div>
    <div class="clearfix"></div>
    <h1>Subjects</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%= render @subjects %>
        </tbody>
      </table>
    </div>
    <br>
    <%#= link_to 'New Subject', new_subject_path %>
  </div>
</div>