<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header" style="height: 75px;">
        <div class="col-sm-12">
          <div class="col-sm-9">
            <h2 style="margin-top: 15px;">
              Performance Review Template
            </h2>
          </div>
          <div class="col-sm-3">
            <%#= link_to('/perf_review_catgs/export_all', :class => "btn btn-success mat-top-10") do %>
              <!-- Master Report 
              <i class="fa fa-download mar-left-5"></i> -->
            <%# end %>
          </div>
        </div>
      </div>
      <div class="body">
        <div id="add-category-form">
          <%= render 'form', perf_review_catg: @perf_review_catg %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <%= render @perf_review_catgs %>
  </div>
</div>