Click on Available member to add in Team
<div class="row">
  <div class="col-xs-12 align-center">
    <div class='col-sm-6'> Available Members</div>
    <div class='col-sm-6'> Team Members</div>
  </div>
  <div class="col-sm-6 box-with-all-emp">
    <%= render partial: "all_employees", collection: @emp_team, as: :emp, locals: { pt_id: params[:pt]} %>
  </div>
  <div class="col-sm-6 box-with-selected-emp">
    <%= render partial: "team_employees", collection: @team, as: :emp, locals: { pt_id: params[:pt]} %>
  </div>
</div>
