<div class="row clearfix">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h2>New Project Team member</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-xs-12">
            <%= render 'form', project_team_member: @project_team_member %>
          </div>
        </div>
        <%= link_to 'Back', project_teams_path %>
      </div>
    </div>
  </div>
</div>