<div class="row clearfix">
  <div class="col-sm-12">
    <div class="card">
      <div class="body">
        <h1>New Exam</h1>

        <%= render 'form', exam: @exam %>
      </div>
    </div>
    <div class="mt20">
      <%= link_to 'Back', exams_path %>
    </div>
  </div>
</div>
