<div class="overlay"></div>

<!-- <div class="search-bar">
  <div class="search-icon">
    <i class="material-icons">search</i>
  </div>
  <input type="text" placeholder="START TYPING...">
  <div class="close-search">
    <i class="material-icons">close</i>
  </div>
</div> -->

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
      <a href="javascript:void(0);" class="bars" style="display: none;"></a>
      <%= link_to 'MATERIAL DESIGN', signed_in? ? dashboard_path : root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- Call Search -->
        <!-- <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li> -->
        <!-- #END# Call Search -->
        <!-- Notifications -->
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false" type="button">
            <i class="material-icons">notifications</i>
            <!-- <span class="label-count"></span> -->
          </a>
          <ul class="dropdown-menu">
            <li class="header">NOTIFICATIONS</li>
            <li class="body">
              <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;"><ul class="menu" style="overflow: hidden; width: auto; ">
                <% @messages.each do |msg| %>
                  <li>
                    <a href="javascript:void(0);" class=" waves-effect waves-block">
                      <div class="menu-info">
                        <h4><%= msg.message %></h4>
                        <p>
                          <i class="material-icons">access_time</i> 
                          <%= time_ago_in_words(Message.last.created_at) +" ago"%>
                        </p>
                      </div>
                    </a>
                  </li>
                <% end %>
                
                <div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.498039); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px;">
                </div>
                <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                </div>
              </div>
            </li>
            <li class="footer">
              <%= link_to "View All Notifications", general_new_message_path, class: "waves-effect waves-block" %>
            </li>
          </ul>
        </li>
        <li class="pull-right">
          <a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>